[dropbox]
token = INSERT_DROPBOX_TOKEN_HERE

[screen]
width = 1440
height = 900

[colors]
background_color = [(0,0,0), (50,50,50), (153,153,153)]
text_color = [(255,255,255), (255, 0, 0)]

[pygame]
font = ("Futura, Helvetica, Arial", 48)

[advanced]
keyboard = False
